<p>{{localize "ALIENRPG.DialText"}}</p>
<form>
    <div class="form-group">
        <label>{{localize "ALIENRPG.Supply"}} {{localize "ALIENRPG.MODIFIER"}}</label>
        <input type="text" id="supplyMod" name="supplyMod" value="0" autofocus="autofocus" />
    </div>
</form>